<div class="container mt-5" *ngFor="let job of jobs">
    <div class="card border-1 ">
        <div class="card-body">
        <div class=" header row w-100 justify-content-center align-items-center">
            <div class="col-lg-9 col-sm-12">
                <a [href]="job.company_url" class="text-primary" target="_blank" rel="noopener noreferrer">
                <h1>{{job.title}}</h1>
                </a>
                <h5 class="text-muted">{{job.company}}</h5>
                <p class="text-muted">Chareston LA</p>
            </div>
            <div class="col-lg-3  col-sm-12 justify-content-end d-lg-flex">
                <img height="100px" width="100px" [src]="job.company_logo" alt="">
            </div>
            </div>

            <div class="row mt-5">
                
                <div class="col-4 col-sm-12">
                                    <h4>Type</h4>
                                    <p>{{job.type}}</p>
                </div>
                                    <div class="col-4  col-sm-12">
                                        <h4>Location</h4>
                                        <p>{{job.location}}</p>
                                    </div>
                <div class="col-4  col-sm-12">
                                                        <h4>Posted on</h4>
                                                        <p>{{job.created_at | date}}</p>
                                                    </div>
            </div>
            <div class="w-100 mt-4">
                <h5>Application Link</h5>
                <div [innerHTML]="job.how_to_apply"></div>
            </div>
        </div>
        <div class="card-footer border-0 ">
            <div class="row">
                <div class="col-6">
                    <button  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">More Details</button>
                </div>
                
            </div>
        </div>
    </div>
    
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{job.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div [innerHTML]="job.description"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>